@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green


.img-responsive
	display: inline-block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%



body
	margin: 0
	background-image: url(../img/s4/s4bg.png)
	background-attachment: fixed
	background-size: cover
	background-position: top center
	background-repeat: no-repeat
	font-size: 16px
	font-weight: bold
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $roboto, sans-serif
	overflow-x: hidden
	color: $text
	input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green
	+reset()	


.container
	+wrapper()
	max-width: 1500px


.header
	position: relative		
	+xs-block()+xs-block()
		padding-top: 20px	
		background-color: #0B2443
	
			
	&__logo
		max-width: 15%
		min-width: 60px
		position: absolute
		z-index: 100
		right: 8%
		top: 5px
		+to(1500px)
			max-width: 6%
		+xs-block()
			top: -15px
			min-width: 50px	
	&__content
		position: relative
		background-position: top center
		background-repeat: no-repeat
		margin: 0 auto
		+sm-block()
			min-height: 210px
			background-image: url(../img/header/hbg.png)
			background-size: cover
		+xxs-block()	
			min-height: 185px
.buy
	position: absolute
	background-color: #0C2444
	bottom: 5%
	max-width: 27%
	+from(1920px)
		max-width: 500px
		left: 50%
		margin-left: -260px
	+to(1500px)
		max-width: 25%
		bottom: 3%
	+to(1250px)
			left: 38.5%
			bottom: 6%
			border-radius: 5px
	+md-block()
		bottom: 4%	
		border-radius: 10px
	+sm-block()	
		max-width: 300px
		left: 50%
		margin-left: -114px
		bottom: 6px
		padding: 4px
	+xs-block()
		border-radius: 5px	
	+xxs-block()
		margin-left: -92px	
		bottom: 5px
		border-radius: 5px
	border-radius: 15px
	text-align: center
	padding: 7px
	box-sizing: border-box
	left: 36.5%
	transition: background-color .25s
	&:hover
		background-color: #143a6c
.button
	text-transform: uppercase
	font-size: 2.7vw
	+from(1930px)
		font-size: 55px
		padding: 5px 80px 
	+to(1250px)
		font-size: 2vw	
		border: 3px solid #fff
		border-radius: 5px
		padding-bottom: .8vh
	+md-block()
	+sm-block()	
		font-size: 20px
		padding: 5px 45px
	+xs-block()
		border-radius: 5px
	+xxs-block()
		font-size: 18px
		padding: 5px 30px	
		border: 2px solid #fff
	color: #fff
	border: 7px solid #fff
	border-radius: 15px
	padding: 0.7vh 4.2vw
	padding-bottom: 10px
	letter-spacing: 0
	text-decoration: none
	font-family: 'oswald-bold'
	font-weight: bold
	max-width: 100%
	white-space: nowrap
	display: block



.header-bg
	width: 100%
	+sm(display, none)


.section-content
	display: flex
	flex-wrap: wrap
	align-items: center


.dark-bg
	background-color: #0b2443

.bg
	background-size: cover
	background-repeat: no-repeat
	background-position: top center
.s1
	background-image: url(../img/s1/s1bg.png)
	background-size: cover
	background-repeat: no-repeat
	background-position: top center
	margin-top: -5px
	+xs-block()
		padding-top: 50px
.s1-content
	justify-content: space-around	
.s1-img
	+col()
	+size(6)
	+size-xs(10)
.s1-text
	color: $accent
	+col()
	+size(5.2)
	+size-xs(10)
	font-size: 104px
	+xs-block()
		order: -1
		text-align: center
		line-height: 1.3
	+xxs-block()	
		font-size: 26px !important
	+to(1500px)
		font-size: 6vw
	text-transform: uppercase
	font-family: 'oswald-bold'
	font-weight: 900
	line-height: 1.1
	span
		display: block
		+xs(display, inline-block)



.s2-img
	+xs(display, none)
	img
		width: 100%

.s2m-img
	display: none
	+xs(display, block)


.s3
	background-image: url(../img/s3/dog.gif)
	background-size: 100%
	margin-top: -7px
	+to(1800px)
		background-size: cover
		background-position: 95% 0
	+xs-block()
		background-position: 87% 0
	+to(494px)
		background-position: 80% 0	
	+xxs-block()	
		background-position: 77% 0

	&__items
		display: flex
		flex-wrap: wrap
		flex-direction: column
		justify-content: space-between
		height: 100%
	&__item
		display: flex
		align-items: center
		+col()
		+size(12)
		margin-bottom: 40px
		margin-bottom: 2vw
		+xs-block()
			flex-direction: column
			text-align: center
			margin-bottom: 20px
	&__item-img
		margin-right: 20px
		margin-right: 1vw
		min-width: 91px
	&__item-text
		font-size: 38px
		font-size: 1.9vw
		color: $accent
		font-family: 'monserat-bold'
		line-height: 1.2
		+from(1920px)
			font-size: 38px
		+sm(font-size, 18px)
	.h2
		font-size: 62px
		font-size: 3.3vw
		font-weight: 900
		margin-bottom: 50px
		max-width: 60%
		font-family: 'open-sansBold'
		color: #09182D
		line-height: 1.2
		+sm-block()
			font-size: 35px
			max-width: 75%
			margin-top: 30px
		span
			color: $accent
		+xs-block()	
			max-width: 100%
			margin-top: 120px
		+xxs-block()		
			margin-top: 20px
	.s3-content
		display: flex
		flex-wrap: wrap
		&__column
			+col()
			+size(5)
			+size-sm(6)
			+from(762px)
				margin: 0

.s3-wrapper
	padding: 50px 0
	+sm-block()
		background-color: rgba(255,255,255,.7)	



.s4
	padding: 140px 0
	// background-image: url(../img/s4/s4bg.png)
	+xs(padding, 50px 0)
.s4-content
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	+xs(justify-content, center)
.s4-img
	background-color: #ED1C24
	padding: 2%
	padding-left: 3%
	padding-top: 3%
	display: flex
	align-items: center
	justify-content: center
	+col()
	+size(6)
	+size-xs(10)
	+size-xxs(12)
.s4-text
	+col()
	+size(5.55)
	+size-xs(10)
	+size-xxs(12)
	+xs-block()
		order: -1
		margin-bottom: 30px
	+from(1930px)
		font-size: 42px
	+lg(font-size, 25px)
	+xs(font-size, 22px)
	font-size: 2vw	
	line-height: 1.2
	font-family: 'monserat-bold'
	font-weight: 900
	span
		color: $accent
		white-space: nowrap


.s5
	background-image: url(../img/s5/bg.png)
	padding: 50px 0
	.container
		max-width: 1400px

.s5-text
	+size(5)
	+size-md(6)
	+size-xs(10)
	+size-xxs(12)
	+xs(margin-bottom, 30px)
.s5-img
	+size(5)
	+size-xs(10)
	+size-xxs(12)

.wrapper
	+wrapper()
	max-width: 1920px
	

.s6
	// background-image: url(../img/s4/s4bg.png)
	background-position: bottom center
	padding: 7.8vw 0

	&__content
		display: flex
		align-items: center
		justify-content: space-between
		text-transform: uppercase
	&__word1
		background-color: #FF151F
		color: #fff
		+from(1920px)
			font-size: 287px
		font-size: 14.9vw	
		font-family: 'impact'
		font-weight: 400
		line-height: 1
		padding-bottom: 1.45vw
		padding-left: 3vw
		padding-right: 1.56vw

	&__word2
		+from(1920px)
			font-size: 117px
		font-size: 7vw
		padding: 0 15px
.s6-wrapper
	padding: 0 !important



.products
	overflow: hidden
	&__title
		background-color: #0C2544
		text-align: center
		padding: 1% 10px 
	&__subtitle
		font-family: 'open-sansBold'
		text-transform: uppercase
		color: $accent
		+from(1920px)
			font-size: 72px
		font-size: 3.8vw	
		+xs(font-size, 25px)	
		+xxs(font-size, 22px)	
	.h2
		color: #fff
		font-size: 4vw
		+from(1920px)
			font-size: 78px
		+xs(font-size, 25px)	
		+xxs(font-size, 22px)	
		font-family: 'open-sansBold'
		font-weight: 900
.products-row
	padding-top: 11%
	position: relative
	+xs(padding-top, 40%)
.products-content
	margin-top: 25px
	background-color: #0C2544
.products-composition
		display: flex
		justify-content: center
		padding: 70px 0
		+xs(padding, 50px 0)
.items
	+col()
	+size(9)
	+size-xs(12)
	margin: 0
	+xs(margin-right, -10px)
	position: relative
.item
	margin-right: 40px
	+to(1200px)
		margin-right: 20px
	+xs(margin-right, 10px)
	background-color: #fff
	text-align: center
	padding: 10px
	&__img
		display: inline-block
		position: relative
		z-index: 500
	&__text
		font-size: 24px
		line-height: 1.2
		margin-top: auto
		font-weight: 500
		+to(1100px)
			font-size: 20px
.products-img
	+col()
	+size(3)
	+size-xs(4)
	+size-xxs(5)
	position: relative
	+xs-block()
		position: absolute
		top: 1%
		right: 0
.hero-img
	position: absolute
	width: 100%
	left: -22%
	top: -48%
	+to(1500px)
		top: -40%
		left: -30%
	+lg-block()
		left: -20%
		top: -15%	
	+sm-block()
		left: -30%	
		top: 0
	+xs-block()
		position: relative
		top: 10%
		left: -50%
	+to(512px)
		margin-top: 10%
	img
		position: absolute
		max-width: 200%
		+to(1500px)
			max-width: 173%
		+sm(max-width, 200%)
		+xs(max-width, 180%)




.slick-arrow
	position: absolute
	cursor: pointer
	z-index: 100
	padding: 0
	background-color: transparent
	top: 42%
	span
		width: 50px
		height: 50px
		display: flex
		overflow: hidden
		position: relative
		+xxs-block()
			width: 45px
			height: 45px
.slick-next
	right: 30px
	+to(1200px)
		right: 8px
	+xs(right, 0)
	border: none
	span
		&::before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			background: $accent
			transform: rotate(45deg)
			left: -35px
.slick-prev
	left: -8px
	+xs(left, -12px)
	border: none
	span
		&::before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			background: $accent
			transform: rotate(45deg)
			right: -35px

.right
	text-align: right
	padding-right: 82px
	+md(padding-right, 61px)
	+sm(padding-right, 48px)
	+xs(padding-right, 33px)
	+xxs(padding-right, 15px)


.items2-slide
	+size(6)	
	+size-sm(8)	
	+size-xs(12)	
	
.products-mst
	+size(6)
	+sm-block()
		margin: 0
		margin-left: -30px
	+xs-block()
		left: 15px	
		margin-left: 25px
		width: 50%
		top: -5px
	+xxs-block()	
		left: 15px
		width: 60%
		margin-left: 0
.mst-img
	left: 0 !important
	top: -83% !important
	z-index: 100
	+to(1475px)
		top: -71% !important
	+to(1100px)
		top: -65% !important
		left: -9% !important
	+sm-block()	
		top: -29% !important	
	img
		max-width: 120%
		+to(1100px)
			max-width: 130%
			


.slick-track
	display: flex

.slick-slide
	height: auto

.long-name
	+to(512px)
		max-width: 50%
		margin-left: 0


.products-hulk
	+size-xs(5.5)
	+size-xxs(6)
	+xs-block()
		left: 0
		
.hulk
	z-index: 100
	+md(top, -15%)
	+md(left, -30%)
	+sm(top, -5%)
	+xs-block()
		left: 0
	img
		max-width: 135%
		+to(1200px)
			max-width: 150%
		+xs-block()
			max-width: 105%
.products-cap
	right: 0
	top: 5px
	+size-xs(4.4)	
	+xs-block()
		min-width: 162px
	+xxs-block()	
		min-width: 142px
.cap-img
	left: -35%
	top: -42%
	img
		+from(1500px)
			max-width: 177%
		+md-block()
			max-width: 247%	
		+xs-block()
			max-width: 200%	
	+md-block()		
		top: -12%
		left: -65%
	+xs-block()	
		left: -55%
		top: 0
	+xxs-block()	
		top: -20px



.gg-img
	z-index: 100
	left: -22%
	top: -55%
	+to(1800px)
		top: -45%
	+to(1460px)
		top: -40%	
	+to(1100px)	
		left: -43%
	+md-block()	
		left: -46%
		top: -45%
	+sm-block()
		left: -62%
		top: -8%	
	+xs-block()
		left: 0
		top: 0	
		margin-top: 0
	+xxs-block()	
		margin-left: -15px
	img
		max-width: 175%
		+md-block()	
			max-width: 205%		
		+sm-block()	
			max-width: 235%
		+xs-block()		
			max-width: 165%

.products-gg
	left: 0
	+size-xs(5)	
	+xs-block()
		min-width: 204px
		top: 0
		left: -15px
	+xxs-block()	
		min-width: 178px

.long-gg
	+xs-block()
		max-width: 39%
		margin-right: 0
		text-align: left
	+xxs-block()
		max-width: 43%




.bottom
	position: relative
	margin-top: 8%
	+sm-block()
		background-image: url(../img/bottom_bg.png)
		min-height: 324px
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% -15px
	+to(720px)
		min-height: 312px
	&__logo
		display: none
		+to(535px)
			display: block
			right: 0
	&__img
		img
			max-width: auto
			width: 100%
		+sm(display, none)
	.buy
		background: #fff
		+lg-block()
			padding: 4px
			border-radius: 5px
			bottom: 6%
			left: 50% 
			transform: translate(-56%, 0) 
		+sm-block()
			margin-left: 0	
			line-height: 1.1
			bottom: 10px
		+to(700px)
			bottom: 20px
		+to(687px)
			bottom: 25px	
		+xxs-block()
			padding: 3px
			bottom: 28px
.bottom-btn
	background: #fff
	border: 7px solid #09182D
	color: #09182D
	+lg-block()
		padding-bottom: 4px
		border-radius: 5px
		border: 5px solid #09182D
	+xxs-block()
		border: 3px solid #09182D	
	transition: all .25s
	&:hover
		border-color: #152a46
		color: #152a46


.sm-img
	left: -42%
	top: -45%
	z-index: 10
	+lg-block()
		top: -15%
	+to(512px)
		margin-top: 0	
		top: 5%
		margin-left: 25px
	+xs-block()
		left: -94%

.hero-anim
	img
		opacity: 0
.active
	opacity: 1 !important




.slick-initialized .slick-slide
	display: flex
	flex-direction: column
	align-items: center











//////////////footer////////////////////

.footer
	background: rgba(0,17,42, 1)
	color: #fff
	margin-top: -10px
	
	&__wrapper
		background-image: url(../img/s4/s4bg.png)
		padding: 50px 0
		padding-bottom: 30px
		width: 100%
		height: 100%
	.container
		max-width: 1260px

.footer__content
	width: 100%
	display: flex 
	flex-wrap: wrap
	justify-content: space-between
	+xs(flex-direction, column)
	+xs(align-items, center)  
	.footer__content-logo
		margin-bottom: 25px
		+col()
		+size(3)
		+size-xs(8)
		text-align: center
		img
			width: 100%
			max-width: 223px
	.footer__content-block_01
		+col()
		+size(6)
		+size-xs(10)
		// margin: 0 25px
		p
			color: #fff
			margin-top: 0
			font-size: 16px
			line-height: 18px
	.footer__content-block_02
		+col()
		+size(3)
		+size-xs(10)
		font-size: 16px
		text-align: right
		position: relative
		+xs(margin-top, 30px)
		p
			font-size: 16px 
			line-height: 18px
			margin: 0
			margin-bottom: 10px
			color: #fff

		.footer_line
			position: absolute
			width: 55px
			right: 0
			color: #fff  

		.phone
			margin-top: 35px  
			line-height: 25px






@import 'media'