.modal {
  position: fixed;
  background-color: #fff;
  padding: 91px 112px 44px 117px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal--closed {
  display: none;
}

.modal__cross {
  position: absolute;
  background-image: url(../img/svg/cross.svg);
  background-position: center;
  background-size: contain;
  width: 57px;
  height: 43px;
  right: 55px;
  top: 56px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
