@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif; 
  color: #494949;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
  flex: 1 0 auto;
}
.header-content {
  min-height: 140px;
  margin: 0 auto;
  background-image: url(/img/main-beautySaloon1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
nav {
  text-align: center;
  min-height: 80px;
  min-width: 1440px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 18px;
}
.list a {
  text-decoration: none;
  color: #494949;
  font-size: 14px;
  text-transform: uppercase;
}
.list a:visited,
.list a:active,
.footer_ancor{
  color: #494949;
}
.list {
  list-style: none;
  border-bottom: 2px solid #ffffff;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 51.45px;
  height: 60px;
  top: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.telephone {
  color: #6757c8;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 160%;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  margin-top: 30px;
}
.wrapper_content{
  max-width: 1300px;
}
.content_text{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

footer{
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  min-width: 1440px;
  min-height: 435px;
  background-image: url(/img/bg-footer.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.footer_promo-text{
  max-height: 150px;
  max-width: 240px;
}
.footer_promo-text__company{
  margin-top: 45%;
}
.footer_content-promo,.footer_content-company,.footer_content-contacts{
  margin-top: 4%;
  max-width: 480px;
}
.footer_ancor{
  text-decoration: none;
  color: #494949;
}
.footer_telephone{
  text-align: left;
}
.footer_content-company,.footer_content-contacts{
  margin-top: 5%;
}
.footer_content-company__text,.footer_content-contacts__text{
    margin-bottom: 5%;
}
 .footer_content-contacts__logo{
   margin-right: 28px;
 }