@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  color: #494949;
}
main {
  max-width: 1300px;
  margin: 0 auto;
  flex: 1 0 auto;
}
.header-content {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  padding-right: 0 !important;
}

.container {
   max-width: 1380px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.header-phone {
  position: absolute;
  top: 100px;
  width: 100%;
}
  

.header-bg {
  /*background-image: url(../img/main-beautySaloon.jpg);*/
  background: #FAE8DB;
  background-repeat: no-repeat;
  background-size: 100%;
} 

.img-responsive {
  display: inline-block;
  max-width: 100%;
}

.header-position {
  position: relative;
  padding-top: 80px;
}



.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  text-align: center;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 18px;
}


.list a {
  text-decoration: none;
  color: #494949;
  font-size: 14px;
  text-transform: uppercase;
}
.list a:visited,
.list a:active,
.footer_ancor {
  color: #494949;
}
.list {
  list-style: none;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.list::before {
  content: '';
  height: 2px;
  background: #FFF;
  position: absolute;
  bottom: 0;
}

.list--right::before {
 right: -1000%;
 left: 0;
}
.list--left::before {
 left: -1000%;
 right: 0;
}

.header-logo {
  margin-bottom: -25px;
  background: #FAE8DB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 51.45px;
}
.telephone {
  color: #6757c8;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  display: block;
  text-decoration: none
}

.wrapper_main-title {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.wrapper_main-img {
  align-self: start;
}
.main-title {
  max-width: 680px;
  margin: 0;
  margin-top: 5%;
  margin-left: 70px;
}
.text-color {
  color: #6757c8;
}
.title {
  margin: 0;
  font-size: 36px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  line-height: 160%;
  margin-bottom: 30px;
}
.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
  margin-bottom: 36px;
}
.main_subtitle {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #494949;
  text-align: center;
  margin-top: 102px;
  margin-bottom: 64px;
}

.main_subtitle__line {
  position: absolute;
  width: 100%;
  border: none;
  background-color: rgba(103, 87, 200, 0.5);
  height: 1px;
  top: 23px;
}

.main_subtitle__text {
  background: #fff;
  display: inline-block;
  padding: 0 33px;
  position: relative;
}

.main-btn {
  min-width: 220px;
  min-height: 56px;
  background: #6757c8;
  border-radius: 42px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.main-btn:hover {
  background: #4a3e96;
}
/* promo */
.article-wrapper {
  margin: 0 auto;
  overflow: hidden;

}
.article-bg {
  background-image: url(../img/flat-lay-different-beauty-products-arrangement-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1300px;
  min-height: 587px;
  position: relative;
  padding: 40px;
}
.article-content {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding-top: 53px;
  padding-left: 123px;
  padding-right: 72px;
  padding-bottom: 68px;
}
.article-content__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #151820;
}
.text-ancor {
  color: #151820;
  text-decoration: underline #151820;
}
.article-content_btn {
  display: block;
  max-width: 300px;
  background: #6757c8;
  border-radius: 42px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 17px 10px;
  margin-top: 28px;
}
.article-content_btn__text {
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}
.article-content_btn__text :visited,
.article-content_btn__text :active {
  color: #ffffff;
}
.article-content_btn:hover {
  background: #4a3e96;
}
/* block 3 */
.Benefits {
  margin: 0 auto;
  max-width: 1300px;
}
.Benefits_wrapper-main-content {
  display: flex;
  justify-content: space-between;
}
.wrapper-content {
  max-width: 550px;
  position: relative;
  display: flex;
}
.Benefits_content-text-center {
  margin: 95px auto 35px auto;
}
.Benefits_img-balls {
  position: absolute;
  left: 26px;
  top: -50px;
}
.Benefits_img-face {
  align-self: start;
  height: auto;
  margin-right: 38px;
  z-index: 200;
}
.Benefits_number {
  position: absolute;
  top: 109px;
  left: 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 160%;
  letter-spacing: 0.03em;
  z-index: 300;
}
.Benefits_number__color {
  color: #f6e3d6;
  background: linear-gradient(-168deg, #f6e3d6, #d0b29c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.Benefits_content {
  position: relative;
  margin-top: 46px;
  background: #fff;
}
.Benefits_content-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #6757c8;
}
.Benefits_content-text_decoration {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

/* partner block 4*/
.partner {
  overflow: hidden;
}
.wrapper_partnership_wrapper__section-content{
  margin-bottom: 30px;
}
.partnership_wrapper__section-content {
  display: flex;
  flex-direction: row;
  max-width: 1300px;
}

.partnership_section-content {
  background-image: url(../img/bg-block.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  max-width: 592px;
  min-height: 282px;
  margin: 15px;
  width: 50%;
}
.partnership_section-content__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #6757c8;
  margin: 5% 0 5% 7%;
}
.partnership_section-content__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #494949;
  margin: 5% 7% 0 7%;
}
.partnership_section-content__line {
  width: 85%;
  border-bottom: 1px solid rgba(103, 87, 200, 0.4);
  margin-left: 7%;
}
.img-check-mark {
  position: absolute;
  left: 85%;
  top: 80%;
}
.center-btn {
  margin: 0 auto;
  text-align: center;
}
/* benefit */
.benefit {
  max-width: 1300px;
  margin: 0 auto;
}
h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
}
table {
  border-spacing: 20px 10px;
  text-align: left;
}
.benefit_text {
  margin-bottom: 30px;
}

.benefit_text_center {
  text-align: center;
}
.benefit_select {
  margin: 30px 0 30px 20px;
}
.banefit_form {
  margin-left: 20px;
}
.benefit_wrapper_content {
  display: flex;
}
.cooperation_wrapper_content {
  display: flex;
  margin-bottom: 15px;
}

.cooperation_wrapper-select {
  background-image: url(../img/bg_cooperation.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}
.cooperation__wrapper-select_form,
.cooperation__wrapper-select_form-city,
.cooperation__wrapper-select_text {
  margin-left: 30px;
  margin-bottom: 30px;
}
.cooperation_wrapper-slider {
  background-image: url(../img/bg_cooperation.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cooperation__wrapper-select_title-slider {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  max-width: 450px;
  margin-bottom: 30px;
  height: 119px;
}
.cooperation__wrapper-select_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  max-width: 565px;
  letter-spacing: 0.03em;
}
.cooperation_img {
  max-width: 100%;
}
.cooperation_wrapper-select,
.cooperation_wrapper-slider,
.cooperation_wraper-imfMap,
.cooperation_wrapper-imgFace {
  width: 650px;
  height: 480px;
}
/* partner */
.partner {
  margin: 0 auto 70px auto;
}
.partner_wrapper_img {
  max-height: 750px;
}
.partner_content {
  background-image: url(../img/bg_partner_content.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 751px;
  max-height: 750px;
}
.partner_wrapper-content {
  display: flex;
  margin-bottom: 70px;
}
.partner_content__wrapper-text {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 35px;
  max-height: 690px;
  max-width: 645px;
}
.partner_content__text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin: 6%;
}
.partner_content__btn {
  margin-left: 7%;
  margin-bottom: 7%;
}
.partner_section__btn{
  margin-bottom: 50px;
}
.partner_section {
  background-image: url(../img/bg_parner-section.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1300px;
  max-height: 715px;
}
.partner_section__wrapper-content {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.partner_section_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #151820;
  max-width: 760px;
  min-height: 520px;
}
.partner_section__face {
  min-width: 100%;
  margin: 30px;
}
footer {
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  min-width: 1440px;
  min-height: 435px;
  background-image: url(../img/bg-footer.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.footer_promo-text {
  max-height: 150px;
  max-width: 240px;
}
.footer_promo-text__company {
  margin-top: 45%;
}
.footer_content-promo,
.footer_content-company,
.footer_content-contacts {
  margin-top: 4%;
  max-width: 480px;
}
.footer_ancor {
  text-decoration: none;
  color: #494949;
}
.footer_telephone {
  text-align: left;
}
.footer_content-company,
.footer_content-contacts {
  margin-top: 5%;
}
.footer_content-company__text,
.footer_content-contacts__text {
  margin-bottom: 5%;
}
.footer_content-contacts__logo {
  margin-right: 28px;
}

.input-select {
  max-width: 373px;
  min-width: 373px;
  margin-bottom: 26px;
  border: none;
  background: none;
  border-bottom: 1.5px solid rgba(116, 116, 117, 1);
  padding: 7px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(73, 73, 73, 1);
}

.input-select--cooperate {
  margin-left: 30px;
}

.input-select::placeholder {
  color: rgba(24, 29, 73, 0.28);
}


.toggle_mnu {
   display: none;
    right: 20px;
    width: 38px;
    height: 38px;
    position: fixed;
    top: 62px;
    cursor: pointer;
    z-index: 500;
}

.toggle_mnu.on{
  width: 24px;
  height: 24px;
}

.toggle_mnu span:after,
.toggle_mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
}
.toggle_mnu span:after {
    top: 20px;
}
.toggle_mnu span {
    position: relative;
    display: block;
}
.toggle_mnu span,
.toggle_mnu span:after,
.toggle_mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #494949;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.toggle_mnu.on span {
    background-color: transparent;
}
.toggle_mnu.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0);
    -ms-transform: rotate(45deg) translate(-1px, 0);
    transform: rotate(45deg) translate(-1px, 0);
}
.toggle_mnu.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -9px);
    -ms-transform: rotate(-45deg) translate(6px, -9px);
    transform: rotate(-45deg) translate(6px, -9px);
}

.mobile-menu{
  background: #FFF;
  position: fixed;
  height: 100vh;
  display: none;
  z-index: 200;
  padding-bottom: 32% !important;
  top: 0;
}

.mobile-list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-list ul{
  list-style-type: none;
}

.mobile-list ul li {
  margin-bottom: 70px;
  text-align: center;
}

.mobile-list ul li a{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #151820;
  text-decoration: none;
}

.phone-mobile {
  width: 346px;
  height: 76px;
  background: #6757C8;
  border-radius: 61px;
  padding: 27px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-top: 55px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mobile-menu_logo {
  margin-top: 41px;
  display: inline-block;
}

@media (max-width: 1200px) {
  .wrapper_main-title {
    margin-top: 50px;
  }
  .title {
    font-size: 28px;
  }

.Benefits_wrapper-main-content{
  padding:  0 30px;
}
.benefit_img-profit{
  display: none;
}
.benefit{
  max-width: 750px;
}
}

@media (max-width: 768px) { 
.header-content {
  flex-wrap: wrap;
    padding: 0 !important;
}
.main-title {
  text-align: center;
}
.wrapper_main-title {
  width: 100%;
  padding: 15px;
  padding-bottom: 50px;
  margin-right: 0;
 
}
.wrapper_main-img {
  width: 100%;
  text-align: right;
  background: #fae8db;
}
.header-bg{
   background: url('../img/mobile-header.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
}
.header-phone, .list {display: none;}
.header-logo{margin-bottom: 0;background: none;}
.container{padding: 0 20px;}
.header-menu{ padding-top: 30px; }
.toggle_mnu{display: inline-block;}

.article-content {
  padding-top: 53px;
  padding-left: 85px;
  padding-right: 50px;
  padding-bottom: 55px;
}
  .wrapper-content{
    flex-wrap: wrap;
  }
  .Benefits_img-balls {
    left: 28px;
    top: -46px;
} 
.partnership_wrapper__section-content{
  flex-wrap: wrap;
  justify-content: center;
}

.partnership_section-content{
  width: 80%;
}

}


@media (max-width: 568px) { 
  .main_subtitle {
    text-align: left;
    font-size: 22px;
    margin: 34px 0;
    margin-top: 40px;
  }
  .container{
    padding: 0 15px;
  }
  .article-bg{
    padding: 7px;
  }
  .main_subtitle__text{padding: 0 15px;}
  .article-content {
    padding-top: 42px;
    padding-left: 8px;
    padding-right: 15px;
    padding-bottom: 94px;
}
.article-content_btn{margin-top: 57px;}
.main_subtitle{
  margin-top: 50px;
  margin-bottom: 30px;

}
.Benefits_wrapper-main-content{
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.wrapper-content{
  width: 100%;
  margin-top: 0;
  margin-bottom: 61px;
  margin-right: 0 !important;
}
.Benefits_content-text-center{
  padding: 0 15px;
}

.partnership_section-content{
  width: 100%;
}

}

@media (max-width: 500px) { 
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 394px) { 
.header-bg {
  background-size: 115%;
}
.title {
  margin-bottom: 25px;
}  

.wrapper-content{
  width: 93%;
}

}

@media (max-width: 360px) { 
.header-bg {
  background-size: 150%;
}
}

